<!DOCTYPE = html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=devide-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>

  <body>
    <div class='container'>
      <h1>Welcome to AMCE!!!</h1>
      <nav class = 'nav navtabs'>

      </nav>
    {% block content %}

    {% endblock %}
    </div>
    <script scr='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'></script>
  </body>
</html>
