{% extends "layout.html" %}

{% block content %}
  <div class = 'container'>
    <div class ='col-md-12'>
      <h3>List of {{type}}</h3>
    </div>

    {% for user in users %}
    <div class='col-xs-6 col-sm-4 col-md-3 col-lg-3'>
      <div class ='panel panel-info'>

        <div class='panel-heading'>
          <strong>{{user.name}}</strong>
        </div>

        <div class='panel-body form-inline'>
          {% if user.type !== "manager" %}
          <form method='POST' action='/users/{{user.id}}?_method=PUT' class='form-group'>
            <button class='btn btn-success'>Promote</button>
          </form>

          <form method='POST' action='/users/{{user.id}}?_method=DELETE' class='form-group'>
            <button class='btn btn-danger'>Delete</button>
          </form>
          {% else %}
          <form class='form-group'>
            <label class='btn btn-info'>
               &#x2B50;&nbsp; &nbsp; &nbsp;  Manager &nbsp; &nbsp; &nbsp; &#x2B50;
              </label>
          </form>
          {% endif %}
        </div>

      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}
